.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  display: grid;
  align-content: center;
}

@media not screen and (hover: none) and (pointer: coarse) {
  .container section {
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  .container section {
    gap: 2rem;
  }
}
